@import "reset.css";

body {
  background-color: #ecffdc;
  margin: 0;
  padding-top: 100px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4f7942;
  margin: 0;
  padding: 0;
  padding-left: 40px;
  padding-right: 40px;
  height: 90px;
}

header i {
  font-size: 20px;
}

h2 {
  font-size: 30px;
}

main {
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-gap: 2em;
}

nav {
  display: flex;
  flex-direction: column;
  background-color: #8a9a5b;
  width: 10rem;
  margin-top: 30px;
  margin-left: 30px;
  padding: 20px;
  border-radius: 10px;
  color: white;
  height: fit-content;
}

ul {
  font-size: 20px;
}

#typelist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#type {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #aab588;
  height: 30px;
  margin: 5px;
  padding: 5px;
  border-radius: 8px;
}

#type:hover {
  background-color: white;
  color: #aab588;
}

section {
  display: grid;
  grid-template-columns: repeat(5, 13em);
  gap: 1em;
  margin-top: 30px;
}

@media screen and (max-width: 1380px) {
  section {
    grid-template-columns: repeat(4, 13em);
  }
}

@media screen and (max-width: 1150px) {
  section {
    grid-template-columns: repeat(3, 13em);
  }
}

@media screen and (max-width: 925px) {
  section {
    grid-template-columns: repeat(2, 13em);
  }
}

@media screen and (max-width: 700px) {
  section {
    grid-template-columns: repeat(1, 13em);
  }
}

article {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #b8c399;
  color: white;
  border-radius: 8px;
}

article small {
  width: 9rem;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}

article i {
  color: white;
  font-size: 20px;
  align-self: flex-end;
  margin-top: 10px;
}

article i:hover {
  color: red;
}

h3 {
  font-size: 20px;
}

small {
  padding-top: 10px;
  font-size: small;
}

img {
  padding-top: 10px;
  width: 100%;
  height: 10rem;
}
